<!-- TOP NAVBAR -->
<nav class="top-nav">
  <h2 class="logo-title">iServe</h2>

  <div class="nav-actions">
    <i class="fa-regular fa-heart"></i>
    <i class="fa-regular fa-paper-plane"></i>
  </div>
</nav>

<!-- MAIN CONTENT -->
<div class="main-container">
  <router-outlet></router-outlet>
</div>

<!-- BOTTOM NAVIGATION -->
<div class="bottom-nav">
  <i class="fa-solid fa-house" routerLink="/"></i>
  <i class="fa-solid fa-video" routerLink="/reels"></i>
  <i class="fa-solid fa-circle-plus" routerLink="/upload"></i>
  <i class="fa-regular fa-heart" routerLink="/notifications"></i>
  <i class="fa-regular fa-user" routerLink="/profile"></i>
</div>
<div class="bottom-nav">
  <i class="fa-solid fa-house" 
     routerLink="/"
     routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true }"></i>

  <i class="fa-solid fa-video" 
     routerLink="/reels"
     routerLinkActive="active"></i>

  <i class="fa-solid fa-circle-plus" 
     routerLink="/upload"
     routerLinkActive="active"></i>

  <i class="fa-regular fa-heart" 
     routerLink="/notifications"
     routerLinkActive="active"></i>

  <i class="fa-regular fa-user" 
     routerLink="/profile"
     routerLinkActive="active"></i>
</div>
